
{% extends 'education/base.html' %}
{% block body %}
<div class="container-fluid py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-2g rounded border-primary"style="width: 100%;"> 
          <div class="card-body bg-light"> 
            <h2 class="card-title text-center text-dark mb-3">Feedback</h2> 
            <form method="post">
              {% csrf_token %} 
              <!-- Security Purpose csrf_token --> 
              <div class="form-group">
                {{ form.as_p }} 
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
